{% extends "layout.html" %}
{% set active_page = "stats" %}

{% block title %}
    Stats Dashboard
{% endblock %}

{% block main %}

<div class="row">

    <div class="card bg-dark text-white">
        <div class="card-body">
            <h5 class="card-title">The Stats</h5>
        </div>
    </div>
    <div class="mb-2"></div>

    {% for record in basic_stats %}
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <h5 class="card-title">{{ record.answer }}</h5>
            <p class="card-text">{{ record.question }}</p>
            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
        </div>
    {% endfor %}

    
    <div class="card mx3 bg-danger text-white">
        <div class="card-body">
        <h5 class="card-title">Your Favorites</h5>
        </div>
    </div>
    <div class="mb-2"></div>
    

    {% for record in favorite_with_img %}
        <div class="col-xl-3 col-md-5 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <h5 class="card-title">{{ record.question }}</h5>
            <img src="{{ record.poster }}" class="card-img-top" alt="...">
            </div>
        </div>
        </div>
    {% endfor %}

    {% for record in favorite_with_img_2 %}
        <div class="col-xl-3 col-md-5 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mb-3"></div>
                <h5 class="card-title">{{ record.question }}</h5>
                <div class="card-body d-flex align-items-center">
                    <div class="row g-0">
                        <div class="col-sm-6">
                            <img src="{{ record.poster_1 }}" class="img-fluid" alt="...">
                        </div>
                        <div class="col-sm-6">
                            <img src="{{ record.poster_2 }}" class="img-fluid" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for record in favorite %}
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="mb-3"></div>
            <h5 class="card-title">{{ record.question }}</h5>
            <div class="card-body text-center d-flex align-items-center mx-auto">
            <p class="card-text text-center">{{ record.answer }}</p>
            </div>
        </div>
        </div>
    {% endfor %}

    <div class="card bg-warning text-white">
        <div class="card-body">
        <h5 class="card-title">Based on Your Watch History</h5>
        </div>
    </div>
    <div class="mb-2"></div>

    {% for record in others_with_img %}
        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
            <h5 class="card-title">{{ record.question }}</h5>
            <img src="{{ record.poster }}" class="card-img-top" alt="...">
            </div>
        </div>
        </div>
    {% endfor %}

    {% for record in others_with_img_2 %}
    <div class="col-xl-3 col-md-5 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="mb-3"></div>
            <h5 class="card-title">{{ record.question }}</h5>
            <div class="card-body d-flex align-items-center">
                <div class="row g-0">
                    <div class="col-sm-6">
                        <img src="{{ record.poster_1 }}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <img src="{{ record.poster_2 }}" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for record in others %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="mb-3"></div>
                <h5 class="card-title">{{ record.question }}</h5>
                <div class="card-body d-flex align-items-center mx-auto">
                    <p class="card-text">{{ record.answer }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    
    <div class="card bg-secondary text-white">
        <div class="card-body">
            <h5 class="card-title">What to Watch Next</h5>
        </div>
    </div>

    <div class="mb-2"></div>
    
    {% for record in watch_next_with_img %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                <h5 class="card-title">{{ record.question }}</h5>
                <img src="{{ record.poster }}" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    {% endfor %}

    {% for record in watch_next_with_img_2 %}
    <div class="col-xl-3 col-md-5 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="mb-3"></div>
            <h5 class="card-title">{{ record.question }}</h5>
            <div class="card-body d-flex align-items-center">
                <div class="row g-0">
                    <div class="col-sm-6">
                        <img src="{{ record.poster_1 }}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <img src="{{ record.poster_2 }}" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% for record in watch_next %}
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                <h5 class="card-title">{{ record.question }}</h5>
                <p class="card-text">{{ record.answer }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for record in stats_img_2 %}
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ record.question }}</h5>
                    <p class="card-text">{{ record.answer }}</p>
                    <div class="row g-0">
                    <div class="col-sm-6">
                        <img src="{{ record.poster_1 }}" class="img-fluid" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <img src="{{ record.poster_2 }}" class="img-fluid" alt="...">
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}