{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1> Welcome to Movie Tracker</h1>    
    <div class="mt-2">
        <img src="https://m.media-amazon.com/images/M/MV5BZjcyOTViMzUtOWQ5Yy00ZTVmLWJmYzctN2U2OGVlN2ZjNTA0XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_SX300.jpg">
    </div>
    
    <div class="mt-4"></div>
    <p class="text-muted"> Click "Search for Movie" in the navigation bar to start adding movies to your Watch History and Wish List</p>

{% endblock %}