{% extends "layout.html" %}
{% set active_page = "wishlist" %}

{% block title %}
    Wishlist
{% endblock %}

{% block main %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Language</th>
                <th>Box Office</th>
                <th>IMDb Rating</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for record in wishlist %}
                <form action="/wishlist" method="POST">
                    <tr>
                        <td class="align-middle">{{ record.movie_id }}</td>
                        <input type="hidden" name="movie_id" value="{{ record.movie_id }}" />
                        <td class="align-middle">{{ record.year }}</td>
                        <input type="hidden" name="year" value="{{ record.year }}" />
                        <td class="align-middle">{{ record.genre }}</td>
                        <input type="hidden" name="genre" value="{{ record.genre }}" />
                        <td class="align-middle">{{ record.director }}</td>
                        <input type="hidden" name="director" value="{{ record.director }}" />
                        <td class="align-middle">{{ record.language }}</td>
                        <input type="hidden" name="language" value="{{ record.language }}" />
                        <td class="align-middle">{{ record.boxoffice }}</td>
                        <input type="hidden" name="boxoffice" value="{{ record.boxoffice }}" />
                        <td class="align-middle">{{ record.imdb_rating }}</td>
                        <input type="hidden" name="imdb_rating" value="{{ record.imdb_rating }}" />
                        <td class="align-middle">{{ record.comments }}</td>
                        <td class="align-middle">
                            <button class="btn btn-warning btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#watch-history" data-name = "{{ record.movie_id }}" data-imdb = "{{ record.imdb_rating }}" data-boxoffice = "{{ record.boxoffice }}">Move to Watch History</button>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-dark btn-sm" name="delete" type="submit">Delete</button>
                        </td>
                    </tr>
                    <!-- Modal -->
                    <div class="modal fade" id="watch-history" tabindex="-1" aria-labelledby="watch-historyLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Add Details</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="movie-name" class="col-form-label">Movie name:</label>
                                    <input type="text" class="form-control" id="movie-name" name="movie_name" readonly>
                                </div>
                                <input type="hidden" class="form-control" id="imdb-correct" name="imdb_correct" readonly>
                                <input type="hidden" class="form-control" id="box-office-correct" name="box_office_correct" readonly>
                                <div class="mb-3">
                                    <label for="watchdate">Watch Date</label>
                                    <input id="watchdate" class="form-control" type="date" name="watchdate" />
                                </div>
                                <div class="mb-3">
                                    <label for="personal-rating" class="col-form-label">Personal Rating:</label>
                                    <input autocomplete="off" type="text" class="form-control mx-auto w-auto" id="personal-rating" name="personal_rating" placeholder="Required field (0 - 10)">
                                </div>
                                <div class="mb-3">
                                    <label for="comments" class="col-form-label">Comments:</label>
                                    <textarea class="form-control" id="comments" name="comments"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-warning" name="add_to_history" type="submit">Move to Watch History</button>
                            </div>
                          </div>
                        </div>
                      </div>
                </form>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var exampleModal = document.getElementById('watch-history')
        exampleModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget
        // Extract info from data-* attributes
        var recipient = button.getAttribute('data-name')
        var imdb_value = button.getAttribute('data-imdb')
        var box_office_value = button.getAttribute('data-boxoffice')
        
        // Update the modal's content.
        var modalBodyInput = exampleModal.querySelector('#movie-name')
        var imdbInput = exampleModal.querySelector('#imdb-correct')
        var boxofficeInput = exampleModal.querySelector('#box-office-correct')

        modalBodyInput.value = recipient
        imdbInput.value = imdb_value
        boxofficeInput.value = box_office_value
        })
    </script>
{% endblock %}
